.vscode
.vscode/
.vscode/*
.vscode/**/*
.vscode/settings.json
.vscode/extensions.json

*~
\#*
.#*
*.i
*.txt
*.o
*.s
*.S
*.a
*.exe
*.dll
*.obj
*.pdb
*.lib
*.exp
*.log
*.bz2
*.zip
.gdb_history
a.out
scc
build
test
*.json

tags
TAGS

*_.*
_*.*

*copy.*
